@import url(s5-core.css); /* required to make the slide show run at all */
@import url(framing.css); /* sets basic placement and size of slide components */
@import url(pretty.css);  /* stuff that makes the slides look better than blah */



.slidecontent, .two-col{ width: 920px; margin: 2em auto; }

.addon{ position: absolute; top: -1em; line-height: 1em; font-size: 75%; }
.incremental.addon{ display: none; }
