@import url(s5-core.css); /* required to make the slide show run at all */
@import url(framing.css); /* sets basic placement and size of slide components */
@import url(pretty.css);  /* stuff that makes the slides look better than blah */



.slidecontent, .two-col{ width: 80%; margin: 2em auto; }

.addon{ position: absolute; top: -1em; line-height: 1em; font-size: 75%; }
.incremental.addon{ display: none; }

.slidecontent ul.table_schema{ float: left; border: 1px solid #1B4F6E; list-style-type: none; width: 40%; margin: 0 2%; padding: 0; }
	.slidecontent ul.table_schema li{ padding: 0.4em 0.8em; margin: 0; }
		.slidecontent ul.table_schema .type{ float: right; }
	.slidecontent ul.table_schema li.table_name{ background-color: #1B4F6E; color: #fff; }


#result .gist, #wireframe .gist{ font-size: 55%; margin-top: -20px; }
#ar_examples .gist{ margin-top: -20px; font-size: 65%; }
#layout .gist{ font-size: 70%; }

.slide ul.no-bullet{ list-style-type: none; }
.slide ul li ul.no-bullet{ list-style-type: none; }
.slide ul li ul.no-bullet li{ list-style-type: none; }

.slide h2{ margin-bottom: 10px; }

.slide > img{ margin: 0 auto; display: block; }

.highlight{ color: #de492f; }

#presenters{ list-style-type: none; }
	#presenters li{ padding-left: 75px; height: 64px; background: transparent no-repeat left center; }
	#presenters .presenter{ display: block; color: #333; font-size: 75%; padding-top: 3px; }


#presenters_wireframe{ list-style-type: none; }
	#presenters_wireframe li{ padding-left: 75px; height: 64px; background: transparent no-repeat left center; }
	#presenters_wireframe li span{ display: block; color: #333; font-size: 75%; padding-top: 3px; }
